<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body{
            background-color: #99383f;
        }
        label{
            color: aliceblue;
        }
        h2{
            color: aliceblue;
        }
    </style>
</head>

<body>
<div class="container">
    <a href="/list"><h5>&lt; Back to list</h5></a>
    <h2>ADD product</h2>
    <form action="/list" method="POST">
        <div class="form-group">
            <label>product name</label>
            <input class="form-control" type="text" name='productName'>
        </div>
        <div class="form-group">
            <label>product type</label>
            <input class="form-control" type="text" name='productType'>
        </div>
        <div class="form-group">
            <label>product brand</label>
            <input class="form-control" type="text" name='productBrand'>
        </div>
        <div class="form-group">
            <label>product color</label>
            <input class="form-control" type="text" name='productColor'>
        </div>
        <div class="form-group">
            <label>product size</label>
            <select class="form-control" name="productSize">
                <option hidden value="">Select one</option>
                <option value="36">Small</option>
                <option value="37">Big</option>
                <option value="37">Medium</option>
            </select>
        </div>
        <div class="form-group">
            <label>product price</label>
            <input class="form-control" type="text" name='productPrice'>
        </div>
        <input id="add-btn" class="btn btn-primary" type="submit" value="ADD product">
    </form>
</div>
</body>
